body{
    margin: 0;
}
.container{
    width: 90%;
    margin: auto;   
}
.container .box{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 145, 255);
    position: sticky;
    top: 0;
}
.container .box ul{ 
    list-style: none;
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: right;
    gap: 30px;
   
   
}
.container .box ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
   
   
}
.container .box ul li a:hover{
  color: black;
  background-color: white;
  
}
.container1{
    background-color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;

}

.container2{
    width:90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.container2 .box1{
    width: 24%;
    height: 400px;
    background-color: white;
    
}
.container2 .box1 .img{
    width: 100%;
    height: 45%;
    background-color: brown;

}
.container2 .box1 .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container2 .box1 .text{
    width: 100%;
    height: 35%;
    background-color: white;
}
.container2 .box1 .text h1{
    font-size: 20px;
}
.container2 .box1 .text p{
    font-size: 15px;
}
.container2 .box1 .more{
    width: 25%;
    height: 20%;
    text-align: center;
    margin-top: 25px;
   
}
.container2 .box1 .more h2{
    background-color: rgb(0, 145, 255);
    font-size: 20px;
    padding: 5px 8px;
    border-radius: 8px;
    color:rgb(5, 5, 5);
    border: 5px solid rgba(45, 203, 227, 0.427);
}
.box2{
    width: 90%;
    height: 100px;
    background-color: rgb(0, 166, 255);
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}
.box2 ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    justify-content: center;
    display: flex;
}
.box2 ul li a {
    display: block;
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(3, 3, 3);

}
.box2 ul li a:hover{
    color:aliceblue;
    box-shadow: 28px -7px 36px 31px rgba(0,0,0,0.39);
-webkit-box-shadow: 28px -7px 36px 31px rgba(0,0,0,0.39);
-moz-box-shadow: 28px -7px 36px 31px rgba(0,0,0,0.39);
}